---
// src/components/PlaylistItem.astro
export interface Props {
	title: string
	thumbnail: string
	videoId: string
}

const { title, thumbnail, videoId } = Astro.props
---

<div class='overflow-hidden rounded-lg bg-white shadow-md'>
	<img src={thumbnail} alt={title} class='h-48 w-full object-cover' />
	<div class='p-4'>
		<h2 class='mb-2 truncate text-xl font-semibold'>{title}</h2>
		<a
			href={`https://music.youtube.com/watch?v=${videoId}`}
			target='_blank'
			rel='noopener noreferrer'
			class='inline-block rounded-md bg-red-600 px-4 py-2 text-white transition-colors hover:bg-red-700'
		>
			Listen on YouTube
		</a>
	</div>
</div>
